<!-- <h1>Izlazni Račun</h1> -->
<button onclick="print(555)">Print IR</button>
<br />
<br />
<label for="sifArtikla">Šifra artikla:</label>
<input type="text" id="sifArtikla" />
<label for="skladiste">Skladište:</label>
<input type="text" id="skladiste" />
<br />
<br />
<br />
<button id="buttonMPA">MPA</button>

<script>
    function print(brRac) {
        fetch('/ir/print/' + brRac);
    }

    document.getElementById('buttonMPA').onclick = function () {
        document.getElementById('pageOverlay').style.display = 'flex';
        // Load htmx content into overlayContent (replace '/your/htmx/endpoint' with your endpoint)
        htmx.ajax('GET', '/chain?program=mpa', { target: '#overlayContent', swap: 'innerHTML' });
    };

    document.getElementById('closeOverlay').onclick = function () {
        document.getElementById('pageOverlay').style.display = 'none';
    };
</script>