<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/listRequestMethodAndPath">List Request Method and Path</a>
    <br />

    <a href="/listRequestHeaders">List Request Headers</a>
    <br />

    <a href="/listQueryParams?a=1&b=2&c=3">List Query Params (/listQueryParams?a=1&b=2&c=3)</a>
    <br />

    <a href="/listRouteValues/123/456">List Request Route Values (/listRouteValues/123/456)</a>
    <br />

    <a href="/listRequestBodyTestPage">List Request Body testing page</a>
    <br />
    <br />

    <a href="/employees-CRUD-app">Employees list (CRUD application)</a>
    <br />
</body>

</html>