<!DOCTYPE html>
<html data-theme="light" class="h-full">

<head>
    <title>Prijava - ASConto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- <script src="https://unpkg.com/htmx.org@1.9.10"></script> -->
     <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com/4.1.4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet">
</head>

<!-- <body class="min-h-screen flex items-center justify-center bg-base-200 p-4"> -->
<body>
    <!-- <h1 class="text-4xl font-bold text-center my-8">Prijava</h1> -->
    <h2 class="card-title text-2xl">Prijava</h2>
    <div class="card bg-base-100 w-96 shadow-sm">
        <div id="div2" class="card-body">
            <h2 class="card-title text-2xl">Odabir firme i poslovne godine</h2>
            <form hx-post="/api/validate-company-year" hx-target="#div2" hx-swap="outerHTML"  >
                <div class="space-y-4">
                    <div class="form-control">
                        <label class="label"><span class="label-text">Šifra firme</span></label>
                        <input name="CompanyCode" id="CompanyCodeInput" type="text" placeholder="npr. aura"
                            class="input input-bordered w-full" required autofocus />
                    </div>
                    <div class="form-control">
                        <label class="label"><span class="label-text">Poslovna godina</span></label>
                        <input name="FiscalYear" id="FiscalYearInput" type="number" class="input input-bordered w-full"
                            min="2000" max="2100" required />
                    </div>
                </div>
                <div id="step1-errors" class="mt-4"></div>
                <button type="submit" class="btn btn-primary mt-4 w-full">Next</button>
            </form>
        </div>
    </div>

    <script>
        // Auto-fill current year
        // const yearInput = document.querySelector("input[name='FiscalYear']");
        const yearInput = document.getElementById("FiscalYearInput");
        if (yearInput) {
            yearInput.value = new Date().getFullYear();
        }



        //debug
        const CompanyCodeInput = document.getElementById("CompanyCodeInput");
        CompanyCodeInput.value = "prezent";
        yearInput.value = 2024;

    </script>
</body>

</html>