<div id="div3" class="card-body" hx-on::after-swap="alert('Done making a request!')">
  <!-- <h2 class="card-title text-2xl">Sign In</h2> -->

  <!-- Display Company Info -->
  <div class="bg-base-200 p-3 rounded-lg mb-4">
    <!-- <p class="text-sm opacity-70">Company</p> -->
    <p class="font-semibold">{{companyName}} ({{companyCode}})</p>
    <p class="text-xs opacity-60">{{fiscalYear}}.</p>
  </div>

  <form hx-post="/api/authenticate" hx-target="#div3" hx-swap="outerHTML">
    <div class="space-y-4">
      <div class="form-control">
        <label class="label"><span class="label-text">User Code</span></label>
        <input name="UserCode" id="UserCodeInput" type="text" placeholder="Your code" class="input input-bordered w-full" required />
      </div>
      <div class="form-control">
        <label class="label"><span class="label-text">Password</span></label>
        <input name="Password" id="PasswordInput" type="password" placeholder="Your password" class="input input-bordered w-full"
          required />
      </div>
    </div>
    <div id="step2-errors" class="mt-4"></div>
    <button type="submit" class="btn btn-success mt-4 w-full">Login</button>
  </form>
</div>


<script>
  //debug
  const UserCodeInput = document.getElementById("UserCodeInput");
  UserCodeInput.value = "ana";
  const PasswordInput = document.getElementById("PasswordInput");
  PasswordInput.value = "d";
</script>